.marco {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-direction: column;
    background-color: red;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 50px;
}

.pantalla {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-items: center;
    color: transparent;
    background-image: url(img/gifs-de-relampago-0.gif );

}

.pikachu {
    margin: auto;
    width: 100%;
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    width: 90%;
    background-color: rgb(255, 0, 0);

}

.btn {
    background-color: yellow;
    width: 30%;
    border-radius: 90%;
    cursor: pointer;
}


/* hoooooo */



.progress-bar-comida {
    background-color: green;
    width: 40%;
}

.progress-bar-sueño {
    background-color: green;
    width: 70%;
}

.bar {
    width: 80%;
    height: 20px;
    background-color: rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.progreso {
    width: 0;
    height: 100%;
    background-color: rgb(26, 194, 11);
}

